* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}

.header {
  background-color: black;
  color: #fff;
  padding: 15px;
}

.mainbody {
  background-color: gray;
  color: #fff;
  padding: 15px;
}

.footer {
  background-color: green;
  color: #fff;
  padding: 15px;
}